mat-sidenav-container {
  background-color: white;
  height: 100%;
}

.side{
  width: 30%;
  vertical-align: top;
  padding-right: 20px;
  display: inline-block;
  min-height: calc(100vh - 222px);
  height: fit-content;
  border-right: 1px solid rgba(0,0,0,.12);
}

.content{
  width: calc(70% - 42px);
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;

}

mat-sidenav {
  width: 30%;
  padding: 20px;
  background: none;
}

mat-sidenav-content {
  padding: 20px;
}

.studentColumn {
  width: 30%;
  color: rgba(0,0,0,.87);
  background-color: rgba(63, 81, 181, 0.1);
}

.gradeColumn {
  width: 10%;
  color: rgba(0,0,0,.87);
  background-color: rgba(63, 81, 181, 0.1);
}

.stateColumn, .actionsColumn, .deliveryTsColumn {
  width: 20%;
  color: rgba(0,0,0,.87);
  background-color: rgba(63, 81, 181, 0.1);
}

.assignment-form{
  margin-right: 4%;
  width: 60%
}

.datapicker-form{
  width: 36%;
}

.filename{
  display: inline-block;
  margin: auto;
  vertical-align: middle;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.solution-filename{
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 12px;
}

.student{
  margin-bottom: 11.813px;
}

.top-button{
  margin-top: 9px;
}

.inputfile + label{
  margin: auto;
  margin-right: 12px;
  margin-bottom: 12px;
}

.add-assignment{
  margin-bottom: 52px;
  float: right;
}

.name{
  margin:0px;
}
.review-button-div{
  margin-bottom: 20px;
}

.review-component{
  margin-right: 12px;
}