.assignment-form{
  margin-right: 4%;
  width: 60%
}

.datapicker-form{
  width: 36%;
}

.assignment-filename{
  margin: auto;
  width: 30%;
}

.solution-filename{
  width: 50%;
  margin-left: 12px;
}

.student{
  margin-bottom: 11.813px;
}

.top-button{
  margin-top: 9px;
}

.inputfile + label{
  margin: auto 12px 12px auto;
}

.add-assignment{
  margin-bottom: 52px;
  float: right;
}

.name{
  margin:0px;
}

.review-button-div{
  margin-bottom: 20px;
}

.review-component{
  margin-right: 12px;
}