<div class="container">
    <h2>Model Virtual Machine</h2>
    <form [formGroup]="modelVmForm" *ngIf="showModelForm">
        <mat-form-field>
            <mat-label>Model name</mat-label>
            <input matInput formControlName="name" type="text" placeholder="Name" #name required>
            <mat-error *ngIf="modelVmForm.get('name').invalid">{{getErrorNameMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Type</mat-label>
            <input matInput formControlName="type" type="text" placeholder="Type" #type required>
            <mat-error *ngIf="modelVmForm.get('type').invalid">{{getErrorTypeMessage()}}</mat-error>
        </mat-form-field>

        <input type="file" (change)="onModelVmSelected($event)" />

        <button mat-raised-button color="primary" (click)="addModelVm(name.value, type.value)">Add Model</button>
    </form>

    <div *ngIf="showModelDiv">Name: {{_modelVm.name}}, type: {{_modelVm.type}}
        <button mat-icon-button color="primary" aria-label="Visualize modelVm" (click)="viewModelVm()">
            <mat-icon>visibility</mat-icon>
        </button> 
        <button mat-icon-button color="primary" aria-label="Delete modelVm" (click)="deleteModelVm()">
            <mat-icon>delete</mat-icon>
        </button> 
    </div>

    <h2>Course Teams</h2>
    <p class="errorMsg">{{_errorMsg}}</p>

    <!-- It is used to add or modify a Team -->
    <div class="mat-elevation-z1 modify-team" *ngIf="showModifyDiv">
        <mat-horizontal-stepper linear #stepper>
            <mat-step label="Config">
                <div>
                    <mat-slider [(ngModel)]="modifiedTeam.ram"></mat-slider>
                    <mat-form-field>
                        <mat-label>Ram</mat-label>
                        <input matInput type="number" [(ngModel)]="modifiedTeam.ram">
                    </mat-form-field>
                </div>
                <div>
                    <mat-slider [(ngModel)]="modifiedTeam.vcpu"></mat-slider>
                    <mat-form-field>
                        <mat-label>VCpu</mat-label>
                        <input matInput type="number" [(ngModel)]="modifiedTeam.vcpu">
                    </mat-form-field>
                </div>
                <div>
                    <mat-slider [(ngModel)]="modifiedTeam.disk"></mat-slider>
                    <mat-form-field>
                        <mat-label>Disk</mat-label>
                        <input matInput type="number" [(ngModel)]="modifiedTeam.disk">
                    </mat-form-field>
                </div>
                <div class="stepperButton">
                    <button mat-button matStepperPrevious (click)="closeDiv()">Close</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step label="Instances">
                <div>
                    <mat-slider [(ngModel)]="modifiedTeam.maxInstance"></mat-slider>
                    <mat-form-field>
                        <mat-label>Max instance</mat-label>
                        <input matInput type="number" [(ngModel)]="modifiedTeam.maxInstance">
                    </mat-form-field>
                </div>
                <div>
                    <mat-slider [(ngModel)]="modifiedTeam.activeInstance"></mat-slider>
                    <mat-form-field>
                        <mat-label>Active instance</mat-label>
                        <input matInput type="number" [(ngModel)]="modifiedTeam.activeInstance">
                    </mat-form-field>
                </div>
                <div class="stepperButton">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step label="Summary">
                <h3>Summary configuration</h3>
                <div>
                    <p>Ram: {{modifiedTeam.ram}}</p>
                    <p>VCpu: {{modifiedTeam.vcpu}}</p>
                    <p>Disk: {{modifiedTeam.disk}}</p>
                    <p>Max instance: {{modifiedTeam.maxInstance}}</p>
                    <p>Active instance: {{modifiedTeam.activeInstance}}</p>
                </div>
                <div class="stepperButton">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="confirmTeam()">Confirm</button>
                </div>
            </mat-step> 
        </mat-horizontal-stepper>
    </div>

    <!-- It is used to display all teams for the specific course-->
    <table mat-table matSortActive="name" matSortDirection="asc" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameColumn"> Name </th>
            <td mat-cell *matCellDef="let team"> {{team.name}} </td>
        </ng-container>
        
        <!-- Students Column -->
        <ng-container matColumnDef="students">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="studentHeader studentColumn"> Students </th>
            <td mat-cell *matCellDef="let team">
                <mat-list>
                    <mat-list-item *ngFor="let member of team.members">
                    {{member.name}} {{member.surname}}
                    </mat-list-item>
                </mat-list> 
            </td>
        </ng-container>

        <!-- Action -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="actionsColumn"></th>
            <td mat-cell *matCellDef="let team" class="actionsColumn">
                <button mat-icon-button color="primary" aria-label="Edit the virtual machine" (click)="modifyTeam(team); $event.stopImmediatePropagation()">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row 
            *matRowDef="let row; columns: displayedColumns;" 
            (click)="teamSelected(row)"
            [ngClass]="{ hovered: row.hovered, highlighted: teamSelection.isSelected(row) }"
            (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false">
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="margin-right: 5%; margin-left: 5%;"></mat-paginator>
    
    <div *ngIf="showVms">
        <h2>Team Virtual Machines</h2>
        <div class="mat-elevation-z9 resources-team" *ngIf="showResourcesDiv">
            <h3 class="res">Real time virtual machine resources</h3>
            <p class="res">
                Ram: {{resourcesTeam.ram}}, Disk: {{resourcesTeam.disk}}, VCpu: {{resourcesTeam.vcpu}}, ActiveInstance: {{resourcesTeam.activeInstance}} 
            </p>
        </div>
        <!-- It is used to display the virtual machine of the selected team -->
        <app-vms-table
                    [vms]="_vms"
                    (onOff)="onOffVm($event)">
        </app-vms-table>
    </div>
</div>
  