<div class="container">
  <div [ngClass]="{'modelVm-div': showModelDiv}">
    <h2>Model Virtual Machine</h2>
    <div *ngIf="showModelDiv" class="div-button">
      <button mat-icon-button color="primary" aria-label="Visualize modelVm" (click)="viewModelVm()">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Delete modelVm" (click)="deleteModelVm()">
        <mat-icon>delete</mat-icon>
      </button>
    </div><br/>

    <p *ngIf="showModelDiv">
      Model '{{_modelVm.name}}' is ready for the course, the type is {{_modelVm.type}}.
    </p>
  </div>

  <form [formGroup]="modelVmForm" *ngIf="showModelForm">
    <mat-form-field class="form form-width">
      <mat-label>Model name</mat-label>
      <input matInput formControlName="name" type="text" placeholder="Name" #name required>
      <mat-error *ngIf="modelVmForm.get('name').invalid">{{getErrorNameMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="form-width">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type" type="text" placeholder="Type" #type required>
      <mat-error *ngIf="modelVmForm.get('type').invalid">{{getErrorTypeMessage()}}</mat-error>
    </mat-form-field>

    <input type="file" #modelInput id="file" class="inputfile" (change)="onModelVmSelected($event.target.files[0])" accept="image/png, image/jpeg"/>
    <label mat-label for="file">Upload modelVM</label>
    <label mat-label *ngIf="fileName != ''" class="filename">{{fileName}}</label>

    <button mat-stroked-button class="add-modelVm-button" (click)="addModelVm(name.value, type.value)">Add Model</button>
  </form>


  <h2>Course Teams</h2>
  <mat-error>{{_errorMsg}}</mat-error>

  <!-- It is used to add or modify a Team -->
  <div class="mat-elevation-z2 modify-team" *ngIf="showModifyDiv">
    <mat-horizontal-stepper linear #stepper>
      <mat-step label="Resources">
        <div>
          <mat-slider color="primary" [(ngModel)]="modifiedTeam.ram"></mat-slider>
          <mat-form-field>
            <mat-label>Ram (GB)</mat-label>
            <input matInput type="number" [(ngModel)]="modifiedTeam.ram">
          </mat-form-field>
        </div>
        <div>
          <mat-slider color="primary" [(ngModel)]="modifiedTeam.vcpu"></mat-slider>
          <mat-form-field>
            <mat-label>VCpu</mat-label>
            <input matInput type="number" [(ngModel)]="modifiedTeam.vcpu">
          </mat-form-field>
        </div>
        <div>
          <mat-slider color="primary" [(ngModel)]="modifiedTeam.disk"></mat-slider>
          <mat-form-field>
            <mat-label>Disk (GB)</mat-label>
            <input matInput type="number" [(ngModel)]="modifiedTeam.disk">
          </mat-form-field>
        </div>
        <div class="stepperButton">
          <button mat-stroked-button (click)="closeDiv()">Close</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="Instances">
        <div>
          <mat-slider color="primary" [(ngModel)]="modifiedTeam.maxInstance"></mat-slider>
          <mat-form-field>
            <mat-label>Max instance</mat-label>
            <input matInput type="number" [(ngModel)]="modifiedTeam.maxInstance">
          </mat-form-field>
        </div>
        <div>
          <mat-slider color="primary" [(ngModel)]="modifiedTeam.activeInstance"></mat-slider>
          <mat-form-field>
            <mat-label>Active instance</mat-label>
            <input matInput type="number" [(ngModel)]="modifiedTeam.activeInstance">
          </mat-form-field>
        </div>
        <div class="stepperButton">
          <button mat-stroked-button matStepperPrevious>Previous</button>
          <button mat-flat-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="Summary">
        <div>
          <p>Ram: {{modifiedTeam.ram}}</p>
          <p>VCpu: {{modifiedTeam.vcpu}}</p>
          <p>Disk: {{modifiedTeam.disk}}</p>
          <p>Max instance: {{modifiedTeam.maxInstance}}</p>
          <p>Active instance: {{modifiedTeam.activeInstance}}</p>
        </div>
        <div class="stepperButton">
          <button mat-stroked-button matStepperPrevious>Previous</button>
          <button mat-stroked-button (click)="closeDiv()">Close</button>
          <button mat-flat-button color="primary" (click)="confirmTeam()">Confirm</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <!-- It is used to display all teams for the specific course-->
  <div class="mat-elevation-z2 table-container">
    <table mat-table matSortActive="name" matSortDirection="asc" [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="nameColumn"> Name </th>
        <td mat-cell *matCellDef="let team"> {{team.name}} </td>
      </ng-container>

      <!-- Students Column -->
      <ng-container matColumnDef="students">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="studentHeader studentColumn"> Students </th>
        <td mat-cell *matCellDef="let team">
          <mat-list>
            <mat-list-item *ngFor="let member of team.members" class="list-item">
              {{member.name}} {{member.surname}}
            </mat-list-item>
          </mat-list>
        </td>
      </ng-container>

      <!-- Action -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actionsColumn"></th>
        <td mat-cell *matCellDef="let team">
          <button mat-icon-button color="primary" matTooltip="Modify team" aria-label="Edit the virtual machine"
            (click)="modifyTeam(team); $event.stopImmediatePropagation()">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="teamSelected(row)"
        [ngClass]="{ hovered: row.hovered, highlighted: teamSelection.isSelected(row) }"
        (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div><br/>

  <div *ngIf="showVms">
    <h2>Team Virtual Machines</h2>
    <div class="resources-team">
      <p>Real time resources: 
        Ram ({{resourcesTeam.ram}}), Disk ({{resourcesTeam.disk}}), VCpu ({{resourcesTeam.vcpu}}), ActiveInstance
        ({{resourcesTeam.activeInstance}})
      </p>
    </div>
    <!-- It is used to display the virtual machine of the selected team -->
    <app-vms-table [vms]="_vms" (onOff)="onOffVm($event)">
    </app-vms-table>
  </div>
</div>