.container{ margin: 20px; }

h2 {
    display: inline-block; 
    margin-right:12px;
}

.div-button {
    display: inline-block;
}

.modelVm-div {
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.nameColumn {
    width: 40%;
    color: rgba(0,0,0,.87);
    background-color: rgba(63, 81, 181, 0.1);
}

.studentColumn {
    width: 40%;
    color: rgba(0,0,0,.87);
    background-color: rgba(63, 81, 181, 0.1);
}

.studentHeader {
    padding-left: 16px;
}

.actionsColumn {
    width: 20%;
    color: rgba(0,0,0,.87);
    background-color: rgba(63, 81, 181, 0.1);
}

.list-item {
    height: 36px;
}

.modify-team {
    margin-bottom: 20px;
}

.table-container {
    margin-bottom: 20px;
}

.mat-row.hovered {
  background: rgba(63, 81, 181, 0.04);
}

.mat-row.highlighted {
  background: rgba(63, 81, 181, 0.1);
}

mat-slider {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
    padding-left: 0px;
    width: 40%;
    max-width: 250px;
}

mat-form-field {
    width: 100px;
    margin-right: 16px;
    margin-left: 16px;
}

.stepperButton {
    margin-top: 16px;
}

.resources-team {
    background-color: white;
    margin-bottom: 20px;
}

mat-error {
    margin-bottom: 10px;
}

button, .inputfile + label, .filename {
    margin-right: 12px;
}

.form {
    margin-left: 0px;
    margin-right: 0px;
}

.form-width {
    width: 18%;
    min-width: 100px;
}