h2 {
    display: inline-block; 
    margin-right:12px;
}

.div-button {
    display: inline-block;
}

.modelVm-div, .table-container, .modify-teamd {
    margin-bottom: 20px;
}

.student-column {
    padding-left: 16px;
}

.mat-row.hovered {
  background: rgba(63, 81, 181, 0.04);
}

.mat-row.highlighted {
  background: rgba(63, 81, 181, 0.1);
}

mat-form-field {
    width: 100px;
    margin-right: 16px;
    margin-left: 16px;
}

.stepperButton {
    margin-top: 16px;
}

.resources-team {
    background-color: white;
    margin-bottom: 20px;
}

button, .inputfile + label {
    margin-right: 12px;
}

.form {
    margin-left: 0px;
    margin-right: 0px;
}

.form-width {
    width: 18%;
    min-width: 100px;
}

.filename{
    width: 40%;
    margin-right: 12px;
}

.add-modelVm-button{
    margin-top: 8px;
    float: right;
}