.container {
    margin: 20px;
}

mat-list-item-content {
    width: 500px !important;
}

table {
    width: 100%;
}

mat-form-field {
    margin-bottom: 20px;
    margin-right: 12px;
    width: 20%;
}

button {
    margin-bottom: 20px;
}

.membersColumn {
    width: 40%;
    padding-left: 16px;
    color: rgba(0,0,0,.87);
    background-color: rgba(63, 81, 181, 0.1);
}

.teamNameColumn, .actionsColumn {
    width: 30%;
    color: rgba(0,0,0,.87);
    background-color: rgba(63, 81, 181, 0.1);
}

.request-header {
    margin-top: 20px;
}

.list-item {
    height: 36px;
}