mat-list-item-content {
    width: 500px !important;
}

mat-form-field {
    margin-bottom: 20px;
    margin-right: 12px;
    width: 20%;
}

button {
    margin-bottom: 20px;
}

.members-column {
    padding-left: 16px;
}

.request-header {
    margin-top: 20px;
}