h2, h3 {
    display:inline-block; 
    margin-right:12px;
}

button {
    margin-right: 12px;
}

.table-container {
    margin-bottom: 20px;
}

.div-active {
    display: inline-block;
    width: 40px;
    height: 32px;
    margin-top: 8px;
    margin-right: 12px;
    text-align: center;
    vertical-align: middle;
}

.checkboxColumn {
    width: 20%;
    background-color: rgba(63, 81, 181, 0.1);
}

.nameColumn {
    width: 20%;
    color: rgba(0,0,0,.87);
    background-color: rgba(63, 81, 181, 0.1);
}

.surnameColumn {
    width: 40%;
    color: rgba(0,0,0,.87);
    background-color: rgba(63, 81, 181, 0.1);
}

.serialColumn {
    width: 20%;
    color: rgba(0,0,0,.87);
    background-color: rgba(63, 81, 181, 0.1);
}

.inputfile + label{
    margin-left: 12px;
}

