<div class="login-div mat-elevation-z2">
    <h1>Sign in</h1>
    <p>{{errorMsg}}</p>
    <form [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" type="email" required>
            <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorEmailMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorPasswordMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="login()">Login</button>
    </form>
</div>