<h2 mat-dialog-title>Sign in</h2>
<mat-dialog-content>
  <mat-error>{{ errorMsg }}</mat-error>
  <form [formGroup]="loginForm">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" autofocus="false" placeholder="Email" type="email" required/>
      <mat-error *ngIf="loginForm.get('email').invalid">{{getErrorEmailMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password"  placeholder="Password" [type]="hide ? 'password' : 'text'" required/>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password').invalid">{{getErrorPasswordMessage()}}</mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="login()">Login</button>
</mat-dialog-actions>
