.container {
    width: 380px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.registration-form{
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px;
}

img {
    width:70%
}

button{
    width: 100%;
}
