<div class="mat-elevation-z2">
  <!-- It is used to display all Virtual Machines for the specific student -->
  <table mat-table [dataSource]="dataSource" matSortActive="name" matSortDirection="asc" matSortDisabled="true" matSort>

    <!-- Vm Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-header-w30"> Name </th>
      <td mat-cell *matCellDef="let vm"> {{vm.name}} </td>
    </ng-container>

    <!-- Student Column -->
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-header-w30 student-column"> Student </th>
      <td mat-cell *matCellDef="let vm">
        <mat-list>
          <mat-list-item *ngFor="let owner of vm.owners" class="list-item">
            {{owner.name}} {{owner.surname}}
          </mat-list-item>
        </mat-list>
      </td>
    </ng-container>

    <!-- State(on/off) Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-header-w20"> State </th>
      <td mat-cell *matCellDef="let vm"> {{vm.active ? "On" : "Off"}} </td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="column-header-w20"></th>
      <td mat-cell *matCellDef="let vm">
        <button mat-icon-button color="primary" aria-label="Turn the virtual machine on or off" (click)="onOffVm(vm)"
          [disabled]="(!isOwner(vm) && isStudent) || vm.active">
          <mat-icon
            [matTooltip]="(!isOwner(vm) && isStudent) || vm.active ? 'You can not turn on the virtual machine' : 'Turn on/off the virtual machine'">
            power_settings_new</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isStudent" color="primary" aria-label="Modify the virtual machine"
          (click)="modifyVm(vm)" [disabled]="vm.active || !isOwner(vm)">
          <mat-icon [matTooltip]="!isOwner(vm) ? 'You can not modify the virtual machine' : 'Edit virtual machine'">edit
          </mat-icon>
        </button>
        <button mat-icon-button *ngIf="isStudent" color="primary" aria-label="Delete the virtual machine"
          (click)="deleteVm(vm.id)" [disabled]="vm.active || !isOwner(vm)">
          <mat-icon [matTooltip]="!isOwner(vm) ? 'You can not delete the virtual machine' : 'Delete virtual machine'">
            delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="margin-right: 5%; margin-left: 5%;">
  </mat-paginator>
</div>