h1{
    margin-left: 16px;
}

h2{
    margin-left: 12px;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

mat-form-field{
    width: 45%;
    margin-left: 10px;
}

mat-sidenav-container {
    height: calc(100% - 128px);
}

mat-sidenav-content {
    background-color: white;
}

mat-sidenav {
    width: 15%;
}

mat-nav-list{
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.side-element{
    margin:0px;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-button{
    margin-left: 16px;
    width: calc(100% - 32px)
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.side-link, .side-link:focus, .link:hover {
    background-color: rgba(63, 81, 181, 0.1);
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
}

.tab-style {
    color: #3f51b5;
    opacity: 1;
}
