h1{
    margin-left: 16px;
}

h2{
    margin-left: 12px;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

mat-form-field{
    width: 45%;
    margin-left: 10px;
}

mat-sidenav-container {
    height: calc(100% - 128px);
}

mat-sidenav {
    width: 15%;
}

mat-nav-list{
    padding: 16px;
}

.side-element{
    margin:0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.course-button{
    margin-left: 16px;
    width: calc(100% - 32px)
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

