<mat-toolbar color="primary">
  <mat-icon (click)="logged ? sideNav.toggle() : null">menu</mat-icon>
  <p class="titleLabel" routerLink="/home">VirtualLabs</p>
  <span class="example-fill-remaining-space"></span>
  <button mat-flat-button *ngIf="!logged" color="primary" [routerLink]="['home']" [queryParams]="{doLogin: true}"><mat-icon color="white">login</mat-icon></button>
  <button mat-mini-fab *ngIf="logged" color="white" (click)="openProfileDialog()"><!--<mat-icon>account_circle</mat-icon>-->
    <img src="../../assets/4129476_1922_lama.jpg">

  </button>
</mat-toolbar>
<mat-toolbar>{{logged ? selectedCourse : "Home"}}</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" position="start" *ngIf="logged" closed>
    <div class="container">
      <mat-nav-list>
        <a mat-list-item *ngFor="let course of courses"
        [routerLink]="[role, 'courses', course.name, tabs[0]]" 
        (click)="setCourse(course.name)">{{course.name}}</a>
      </mat-nav-list>
      <button mat-flat-button *ngIf="logged && role == 'teacher'" color="white" (click)="openProfileDialog()"><mat-icon>add</mat-icon></button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav mat-tab-nav-bar *ngIf="logged && courses.length>0">
      <a mat-tab-link *ngFor="let tab of tabs"
      [routerLink]="[role, 'courses', selectedCourse, tab]"  
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">{{tab}}</a>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
