<mat-toolbar color="primary">
  <button mat-icon-button (click)="logged ? sideNav.toggle() : null"><mat-icon >menu</mat-icon></button>
  <h1>VirtualLabs</h1>
  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button *ngIf="!logged" [routerLink]="['home']" [queryParams]="{doLogin: true}"><mat-icon>login</mat-icon></button>
  <button mat-icon-button *ngIf="logged" (click)="openProfileDialog()"><img [src]="imageSafeURL"></button>
</mat-toolbar>

<mat-toolbar><h2>{{logged ? selectedCourse : "Home"}}</h2></mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav mode="side" position="start" *ngIf="logged" closed>
    <mat-nav-list>
      <a mat-list-item *ngFor="let course of courses"
      [routerLink]="[role, 'courses', course.name, tabs[0]]" 
      (click)="selectedCourse = course.name"><p class="side-element">{{course.name}}</p><mat-divider></mat-divider></a>
    </mat-nav-list>
    <button mat-stroked-button class="course-button" color="primary" *ngIf="logged && role == 'teacher'" (click)="openCourseDialog()">New</button>

  </mat-sidenav>

  <mat-sidenav-content>
    <nav mat-tab-nav-bar *ngIf="logged && courses.length>0">
      <a mat-tab-link *ngFor="let tab of tabs"
      [routerLink]="[role, 'courses', selectedCourse, tab]"  
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">{{tab}}</a>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
