<mat-toolbar color="primary">
  <mat-icon (click)="toggleForMenuClick()">menu</mat-icon>
  <p class="titleLabel" routerLink="/home">VirtualLabs</p>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button color="primary" [routerLink]="['home']" [queryParams]="{doRegistration: true}">Registration</button>
</mat-toolbar>
<mat-toolbar>Home</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" position="start" opened>
    <div class="container">
      <mat-nav-list>
        <mat-list-item routerLink="courses/teacher/course/applicazioni-internet/students">
          Applicazioni Internet
        </mat-list-item>
        <mat-list-item>
          Programmazione di Sistema
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <nav mat-tab-nav-bar>
      <!-- <a mat-tab-link routerLink="teacher/course/applicazioni-internet/students">
        Students
      </a> -->
      <a mat-tab-link routerLink="teacher/course/applicazioni-internet/vms">
        Vms
      </a>
    </nav>

    <router-outlet></router-outlet> 
  </mat-sidenav-content>
</mat-sidenav-container>

