.titleLabel {
    margin-left: 16px;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

p {
    margin: 0px;
}

mat-sidenav-container {
    height: auto;
    min-height: 100%;
}

.container {
    margin: 20px;
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


