<!-- <div class="container">

    <h2>Virtual Machines</h2>
    <div class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Add vm" (click)="showAdd()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    
    <!-- It is used to add a new Virtual Machine -->
    <!-- <div class="mat-elevation-z1 insert-vm" *ngIf="showAddDiv">
        <mat-horizontal-stepper linear>
            <mat-step label="Ram">
                <h3>Choose the Ram</h3>
                <mat-slider class="slider" [(ngModel)]="ram"></mat-slider>
                <mat-form-field class="example-margin">
                    <mat-label>Ram</mat-label>
                    <input matInput type="number" [(ngModel)]="ram">
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
          
            <mat-step label="VCpu">
                <h3>Choose the number of VCpu</h3>
                <mat-slider class="slider" [(ngModel)]="vcpu">
                </mat-slider>
                <mat-form-field class="example-margin">
                    <mat-label>VCpu</mat-label>
                    <input matInput type="number" [(ngModel)]="vcpu">
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
          
            <mat-step label="Disk">
                <h3>Choose the disk size</h3>
                <mat-slider class="slider" [(ngModel)]="disk">
                </mat-slider>
                <mat-form-field class="example-margin">
                    <mat-label>Disk</mat-label>
                    <input matInput type="number" [(ngModel)]="disk">
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step label="Summary">
                <h3>Summary</h3>
                <p>Ram: {{ram}}</p>
                <p>VCpu: {{vcpu}}</p>
                <p>Disk: {{disk}}</p>
                <div>
                    <button mat-button (click)="addVm()">Confirm</button>
                </div>
              </mat-step>
          </mat-horizontal-stepper>
    </div>

    <!-- It is used to display all Virtual Machines for the specific student -->
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <!-- Checkbox Columm -->
      <!--<ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef><mat-checkbox [indeterminate]="selectedStudents.hasValue() && !isAllSelected()" [checked]="selectedStudents.hasValue() && isAllSelected()" (change)="masterToggle()"></mat-checkbox></th>
        <td mat-cell *matCellDef="let row"><mat-checkbox [checked]="selectedStudents.isSelected(row)" (change)="$event ? isChanged(row) : null" (click)="$event.stopPropagation()"></mat-checkbox></td>
      </ng-container>

      <!-- Vm Name Column -->
      <!--<ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let student"> {{student.serial}} </td>
      </ng-container>
    
      <!-- Student Column -->
      <!--<ng-container matColumnDef="student">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- State(on/off) Column -->
      <!--<ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
        <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
      </ng-container>

      <!-- Action -->
      <!--<ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let student"> {{student.group ? student.group.name : ""}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="margin-right: 5%; margin-left: 5%;"></mat-paginator>
  </div> -->
