h2 {
    margin: 30px;
    display: inline-block;
}

.example-button-container {
    margin: 30px;
    float: right;
}

table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.insert-vm {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

.slider {
    margin-right: 48px;
    width: 40%;
}

.example-margin {
    margin-right: 30px;
}

mat-paginator {
    margin-bottom: 30px;
}