<div class="container">
  <div >
    <h2 style="display:inline-block; margin-right:10px;">Course</h2>
    <button mat-flat-button (click)="openCourseDialog()"><mat-icon color="primary">edit</mat-icon></button>
  </div>
  <div>
    <mat-label>Add Teacher</mat-label><br/>
    <app-autocomplete 
      [options]="allTeachers$"
      (selectedOption)="selectedOption($event)">
    </app-autocomplete>
  </div><br/>

  <h2>Students enrolled in the course</h2>
  <div>
    <mat-label>Add Student</mat-label><br/>
    <app-autocomplete 
      [options]="allStudents$"
      (selectedOption)="selectedOption($event)">
    </app-autocomplete>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="file"/>
  <br />
  <button mat-button (click)="removeStudent()">Delete Selected</button>
  
  <app-students-table
      [students]="enrolledStudents$"
      (selectedStudents)="changeSelection($event)">
  </app-students-table>


</div>
