<div class="container">
  <h2>Students enrolled in the course</h2>
  <mat-form-field>
    <mat-label>Add Student</mat-label>
    <input
      matInput
      #search
      type="search"
      placeholder="Name of the student"
      [matAutocomplete]="auto"
      (keyup)="customFilter(search.value)"
    />
    <mat-autocomplete
      #auto
      [displayWith]="displayFn"
      (optionSelected)="studentSelected($event)">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{ option.name }} {{ option.surname }} ({{ option.serial }})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="file"/>
  <button mat-button (click)="enrollStudent(); search.value = ''">Add</button
  ><br />
  <button mat-button (click)="removeStudent()">Delete Selected</button>
  
  <app-students-table
      [students]="_enrolledStudents"
      (selectedStudents)="changeSelection($event)">
  </app-students-table>
</div>
