<div class="container">

  <!-- Show the table with the assignments of the selected course -->
  <div class="side">
    <h2>Assignment</h2>
    <app-assignments-table 
      [assignments]="_assignments" 
      (assignmentSelected)="assignmentSelected($event)"
      (assignmentReaded)="assignmentReaded($event)">
    </app-assignments-table>
  </div>

  <!-- Show the div used by the student to deliver the solution -->
  <div class="content">
    <h2>Solution</h2>
    <mat-error>{{_errorMsg}}</mat-error>
    <mat-error *ngIf="showReadError">Read the assignment before to add a solution</mat-error>
    <div *ngIf="showSolutionDeliverable">
      <input type="file" #solutionInput id="file" class="inputfile"
        (change)="onSolutionSelected($event.target.files[0])" accept="image/png, image/jpeg" />
      <label mat-label for="file">Upload solution</label>
      <p *ngIf="solutionFileName != ''" class="filename">{{solutionFileName}}</p>
      <button mat-stroked-button class="add-solution" (click)="addSolution()">Add Solution</button>
    </div>

    <!-- Show the table with the solutions of the student for a specific assignment -->
    <app-solutions-table 
      [solutions]="_history">
    </app-solutions-table>
  </div>
</div>