mat-sidenav-container {
  height:100vh;
  background-color: white;
}

mat-sidenav {
  width: 30%;
  padding: 20px;
  background: none;
}

mat-sidenav-content {
  padding: 20px;

}

table {
  width: 100%;
}

.class{
  margin: 20px;
}

mat-form-field {
  font-size: 16;
}

.add-solution{
  float: right;
}

.filename{
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 12px;
  margin-bottom: 0px;
}

.inputfile + label{
  margin-bottom: 20px;
}

.mat-error{
  margin-bottom: 20px;
}


