mat-sidenav {
  width: 30%;
  padding: 20px;
  background: white;
}

mat-sidenav-content {
  padding: 20px;

}

mat-sidenav-container{
  height: calc( 100% - 50px);
}

.side{
  width: 30%;
  vertical-align: top;
  padding-right: 20px;
  display: inline-block;
  min-height: calc(100vh - 222px);
  height: fit-content;
  border-right: 1px solid rgba(0,0,0,.12);
}

.content{
  width: calc(70% - 42px);
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;

}

.class{
  margin: 20px;
}

mat-form-field {
  font-size: 16;
}

.add-solution{
  float: right;
}

.filename{
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 12px;
  margin-bottom: 0px;
}

.inputfile + label{
  margin-bottom: 20px;
}
