h2 {
    display: inline-block;
}

.fabButton {
    float: right;
}

mat-form-field {
    max-width: 80px;
    margin-right: 16px;
    margin-left: 16px;
}

.model-description {
    margin: 0px;
}

.summary {
    margin: 0 0 12px 16px;
    display: list-item;
}

p {
    display: inline-block;
    margin: 8px 16px 8px 16px;
}

.name {
    width: 30%;
    min-width: 200px;
    margin-left: 0px;
    margin-top: 12px;
}

.stepperButton {
    margin-top: 12px;
    margin-right: 12px;
}

.insert-vm {
    margin-bottom: 20px;
}

.slider, .icon {
    margin-left: 0px;
}

.select {
    width: 30%;
    min-width: 200px;
    margin-left: 0px;
}

.other-owners, .icon {
    margin-bottom: 12px;
}
