<div class="container">

    <h2>Virtual Machine Model</h2>
    <div *ngIf="showModelView">
        <p class="model-description">The Virtual Machine model "{{_modelVm.name}}" is available, the {{_modelVm.type}} type is setted.</p>
    </div><br/>

    <div>
        <h2>Virtual Machines</h2>
        <button mat-mini-fab class="fabButton" *ngIf="showAddButton && showModelView" color="primary" aria-label="Add a new Virtual Machine" (click)="addOpenStepper()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <mat-error>{{_errorMsg}}</mat-error>
    
    <!-- It is used to add or modify a Virtual Machine -->
    <div class="mat-elevation-z2 insert-vm" *ngIf="showAddDiv">
        <mat-horizontal-stepper linear #stepper>
            <mat-step label="Name">
                <mat-form-field class="name">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="vm.name">
                </mat-form-field>
                <div>
                    <button mat-stroked-button class="stepperButton" (click)="closeStepper()">Close</button>
                    <button mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step label="Configuration">
                <div>
                    <mat-slider class="slider" color="primary" [max]="ram" [(ngModel)]="vm.ram"></mat-slider>
                    <mat-form-field>
                        <mat-label>Ram (GB)</mat-label>
                        <input matInput type="number" [max]="ram" [(ngModel)]="vm.ram">
                    </mat-form-field>
                    <p>Max available ram: {{ram}} GB</p>
                </div>
                <div>
                    <mat-slider class="slider" color="primary" [max]="vcpu" [(ngModel)]="vm.vcpu"></mat-slider>
                    <mat-form-field>
                        <mat-label>VCpu</mat-label>
                        <input matInput type="number" [max]="vcpu" [(ngModel)]="vm.vcpu">
                    </mat-form-field>
                    <p>Max available vcpu: {{vcpu}}</p>
                </div>
                <div>
                    <mat-slider class="slider" color="primary" [max]="disk" [(ngModel)]="vm.disk"></mat-slider>
                    <mat-form-field>
                        <mat-label>Disk (GB)</mat-label>
                        <input matInput type="number" [max]="disk" [(ngModel)]="vm.disk">
                    </mat-form-field>
                    <p>Max available disk: {{disk}} GB</p>
                </div>
                <div>
                    <button mat-stroked-button class="stepperButton" matStepperPrevious>Back</button>
                    <button mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step label="Other owners">
                <h3>Add other owners to the virtual machine</h3>
                <mat-form-field class="select">
                    <mat-label>Select</mat-label>
                    <mat-select #matSelect (selectionChange)="addStudent($event)">
                        <mat-option *ngFor="let option of _teamStudents" [value]="option">{{option.name + " " + option.surname}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngFor="let option of newOwners" value="option">
                    <button mat-icon-button class="icon" color="primary" aria-label="Delete student" (click)="removeStudent(option)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <p>{{option.name + " " + option.surname}}</p>
                </div>
                <div>
                    <button mat-stroked-button class="stepperButton" matStepperPrevious>Back</button>
                    <button mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
            </mat-step>

            <mat-step label="Summary">
                <p class="summary">Ram: {{vm.ram}} GB</p>
                <p class="summary">VCpu: {{vm.vcpu}}</p>
                <p class="summary">Disk: {{vm.disk}} GB</p>
               
                <h3 *ngIf="newOwners.length > 0" class="other-owners">Other owners</h3>
                <div *ngFor="let option of newOwners" value="option">
                    <p class="summary">{{option.name + " " + option.surname}}</p>
                </div>
                
                <div>
                    <button mat-stroked-button class="stepperButton" matStepperPrevious>Back</button>
                    <button mat-stroked-button class="stepperButton" (click)="closeStepper()">Close</button>
                    <button mat-flat-button color="primary" (click)="confirmVm()">Confirm</button>
                </div>
            </mat-step> 
          </mat-horizontal-stepper>
    </div>

    <app-vms-table *ngIf="showAddButton && showModelView"
                [vms]="_vms"
                (onOff)="onOffVm($event)"
                (modify)="modifyOpenStepper($event)"
                (delete)="deleteVm($event)">
    </app-vms-table>
</div>
